img {
  max-width: 500px;
  height: 400px;
}
body {
  margin: 0;
  height: 100vh;
  background-image: url('images/login-page-background.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;    
  align-items: flex-start;     
  padding-top: 15px;         
}

.container {
  text-align: center;
  color: white;
}

h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form > div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

label {
  width: 100px;
  font-size: 18px;
  text-align: right;
  margin-right: 10px;
}

input {
  width: 250px;
  padding: 6px;
  font-size: 16px;
}