name: Docker Image build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    name: Build Docker image and push to repositories
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
  
      - name: login to hub  
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          
      - name: Build to Docker Hub
        run:
          docker build -t tkg36/mars-rover-vision:latest .

      - name: Push to Docker Hub
        run:
          docker push tkg36/mars-rover-vision:latest
          
      - name: deploying
        uses: appleboy/ssh-action@v0.1.8
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          password: ${{ secrets.SSH_PASSWORD }}
          script: |
            docker pull tkg36/mars-rover-vision:latest
            docker stop mars-container
            docker rm mars-container
            docker run -d -e LISTEN_IP=0.0.0.0 --name mars-container -p 80:3000 tkg36/mars-rover-vision:latest
